.passwordInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}

.passwordInput label{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.passwordInput input{
    all: unset;
    padding: 1rem;
    background-color: #eee;
    font-size: 1.2rem;
}